body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background:url(https://i.pinimg.com/736x/c1/d6/57/c1d6578f92b03c3f8c67886a762a9a7e.jpg);
    background-size: 100%;
    }
    
    .nav a{
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      color:white;
      
    }
    .nav ul{
      display: flex;
      flex-direction: row;
      color:white;
      justify-content: space-around;
    }
  .nav button{
    background-image:linear-gradient(aqua, blue);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 20%;
    
  }
    
  
  .profile-picture{
    display: flex;
    align-items:center;
    justify-content:center;
    
  }
  
  