@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");
:root{
  --primary-color:rgba(13,110,139,0.75);
  --overlay-color:rgba(24,39,51,0.85);
  --menu-speed:0.75s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 400px){
  .desktop{
    display: none;
  }
body {
  font-size: small;
}
body img {
  padding: 5%;
}

/* First page */
.intro {
  background-image: url(/images/mobile-background.png);
  background-size: cover;
  background-attachment: absolute;
}
.text-logo {
  display: flex;
  flex-direction: column;
}
.text {
  font-family: "Dancing Script";
  padding-top: 15%;
  margin: 8%;
}
.logo {
  margin-top: -1;
}
/* End of first page */
/* Case Study 1 */
.case-study1 {
  background-color: #f3f3f3;
}
.case-study1 h2 {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  font-family: "Raleway", sans-serif;
}
.case-study1 img {
  display: flex;
  justify-content: center;
}
.case-study1 p {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  font-family: "Raleway";
  padding-bottom: 5%;
}
/* End of Case Study 1 */
/* Case Study 2 */
.case-study-two {
  background-color: #f2faed;
}
.case-study-two h2 {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  font-family: "Raleway", sans-serif;
}
.case-study-two p {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  font-family: "Raleway";
  padding-bottom: 5%;
}
/* End of case study 2 */
/* Case Study 3 */
.case-study-three {
  background-color: #f5f6fb;
}
.case-study-three h2 {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: "Raleway", sans-serif;
}
.case-study-three p {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  font-family: "Raleway";
  padding-bottom: 5%;
}
}
/* End of Case Study 3 */
/* Footer button */
footer {
  background-color: #f5f6fb;
  display: flex;
  margin: 0;
  text-decoration: none;
  justify-content: space-around;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}
.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}
.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}
/* Footer end  */
@media (min-width: 400px) {
  .phone{
    display:none;
  }
  /* Intro */
  .text-logo{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 10%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .text{
    padding-top:5%;
    padding-right:45%;
    font-family: "Dancing Script";
  }
.logo{
  padding-top:2% ;
  height: 50%;
  width: 40%;
  padding-left: 13%;
  display: none;
}

/* Case Study 1 */
.case-study1{
  background-color:#f3f3f3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top:5%;
}
.side{
  display: flex;
  flex-direction: column;
  font-family: "Raleway";
  justify-content: center;
  align-items: center;
}
.side h2{
  padding-bottom: 10px;
}
.side p{
 line-height: 30px;
 padding-bottom:5%;
}
/* .side button{
  height:10%;
  width: 30%;
  border-radius: 10%;
  background-color: hsla(0, 100%, 90%, 0.3);
  color:red;
  
}
.side a{
  text-decoration: none;
  color:red;
} */

.case-study-two{
  background-color:#f2faed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top:5%;
}
.case-study-three{
  background-color:#f5f6fb;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom:5%;
  padding-top:5%;
}
.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}


.animation {
  border-color: #8e44ad;
  border-radius: 0;
  color: #8e44ad;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.animation:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #8e44ad;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}
.animation:hover {
  color: #fff;
}
.animation:hover:after {
  width: 110%;
}
a{
  text-decoration: none;
}
}