@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 400px) {
  .library-screen {
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .library-screen p {
    text-align: justify;
  }
  .intro-side img{
    height:70%;
    width: 70%;
  }
  .desktop{
    display:none;
  }
}

body {
  background-attachment: fixed;
  background-image: url(/images/background-grey.jpeg);
  background-size: 100%;
  font-family: "Raleway", sans-serif;
  font-size: small;
  margin: 5%;
}
body img {
  padding: 2%;
}

.nav {
  overflow: hidden;
  background-color: rgb(31, 115, 111);
  position: relative;
}

.nav #myLinks {
  display: none;
}

.nav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.nav a.icon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.bar {
  width: 20px;
  height: 4px;
  background-color: black;
  margin: 3px;
}

.nav a:hover {
  color: rgb(201, 19, 19);
}

.active {
  background-color: #d8963f;
  color: white;
  opacity: 0.2;
}

.name {
  display: flex;
  margin-left: 15%;
  font-family: "Raleway", sans-serif;
}
/* Intro  */
.intro {
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
}
.intro-side {
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro h1 {
  color: black;
  font-weight: bold;
}
.intro h2 {
  font-weight: bold;
  color: #1a1e24;
}
/* About*/
.about {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
}
.about h2 {
  padding-top: 5%;
  padding-bottom: 5%;

}
.about p {
  text-align: justify;
}


/* Footer */
footer {
  display: flex;
  margin-top: 5%;
  text-decoration: none;
  justify-content: space-around;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}
:root {
  --bg: #1a1e24;
  --color: #eee;
  --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

@media (min-width: 400px) {
  .intro-side {
    display: flex;
    flex-direction: row-reverse;
  }
  .research {
    display: flex;
    flex-direction: row;
  }
  
  .about h2 {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 40px;
  
  }
  .about p {
    text-align: justify;
    font-size: 19px;
  }
  .aligner p {
    text-align: justify;
    font-size: 19px;
  }
  ]
  .library-screen img{
    height: 17%;
    width: 17%;

  }

  .mobile{
    display:none;
  }
.library-screen{
  display: flex;
  flex-direction: row;
  
}
.library-screen img{
  height: 22%;
  width: 22%;
}
.aligner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left:20%;
}
.aligner h2{
  padding-bottom:10px;
  font-size: 25px;
  
}
.aligner {
  line-height: 30px;
}

  
}
